# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
*/.env

# Logs
*.log
*/*.log
logs/
*/logs/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/